<div class="contenedor-principal">
  <div class="contenedor-tabla">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="logo" th>
          <th scope="col" class="producto">PRODUCTO</th>
          <th scope="col" class="observacion"></th>
          <th scope="col" class="cantidad">Q.</th>
          <th scope="col" class="estado">ESTADO</th>
          <th scope="col" class="fecha">FECHA</th>
          <th scope="col" class="ruta"></th>
          <th scope="col" class="codigo-cliente"></th>
          <th scope="col" class="cliente">CLIENTE</th>
        </tr>
      </thead>
      <tbody id="cuerpo-tabla">
        <tr class="datos" *ngFor="let item of tareaSvc.filtroTarea| slice: (tareaSvc.pagina-1)*this.numeroElementos : ((tareaSvc.pagina-1)*this.numeroElementos)+this.numeroElementos">
          <td scope="col" class="logo"><img src={{item.logo}} alt=""> </td>
          <th scope="col" class="producto">{{item.referencia}}</th>
          <td scope="col" class="observacion">
            <fa-icon style="color: yellowgreen;" popover="{{item.observacion}}" placement="right" triggers="mouseenter:mouseleave"
              [ngClass]="{'noMostrar': item.observacion == ''}" [icon]="faExclamationCircle"></fa-icon>
            <fa-icon [ngClass]="{'noMostrar': item.observacion != ''}" style="color:blue " [icon]="faInfoCircle">
            </fa-icon>
          </td>
          <td scope="col" class="cantidad"><span class="mensajeCantidad"> x{{item.cantidad}}</span> </td>
          <td scope="col" class="estado">
            <p [ngClass]="{'negro': item.estado == 'Pendiente','gris': item.estado == 'Entregada','azul': item.estado == 'Desconsolidada'}">
              {{item.estado}} 
            </p>
          </td>
          <td scope="col" class="fecha">
            <span class="hora">{{item.calcularHora()}}</span> 
            <span class="dia">{{item.calcularDia()}}</span> 
            <span class="mes">{{item.calcularMes()}}</span> 
            <span class="anio">{{item.calcularAnio()}}</span> 
          </td>
          <td scope="col" class="ruta">
            <p [ngClass]="{'azul': item.tipo == 'Mesa','verde': item.tipo == 'Ruta'}">
              {{item.tipo.slice(0,1)}}
            </p>
          </td>
          <td scope="col" class="codigo-cliente"> {{item.cliente.codigo_cliente}} </td>
          <th scope="col" class="cliente"> {{item.cliente.alias_cliente}} </th>
        </tr>
      </tbody>
      <tfoot>
        <div>Lineas: {{tareaSvc.filtroTarea.length}}</div>
        <pagination class="paginacion" [totalItems]="tareaSvc.filtroTarea.length" [boundaryLinks]="true"  
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [(ngModel)]="tareaSvc.pagina" 
          [itemsPerPage]="numeroPorPagina()"
          [maxSize]="7">
        </pagination>
      </tfoot>
    </table>
  </div>
</div>