<div class="contenedor-principal">
    <div class="contenedor-selector-filtro">
        <div class="contenedor-Cliente">
            <label>Cliente:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text"  [(ngModel)]='cliente' />
                <button class="btn btn-outline-danger input-group-append" (click)="cliente = ''"><fa-icon  [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
        <div class="contenedor-Usuario">
            <label>Usuario:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='usuario'/>
                <button class="btn btn-outline-danger  input-group-append" (click)="usuario = ''"><fa-icon  [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
        <div class="contenedor-Referencia">
            <label>Referencia:</label>
            <div class="contenedor-input input-group">
                <input class="form-control" type="text" [(ngModel)]='referencia'/>
                <button class="btn btn-outline-danger  input-group-append" (click)="referencia = ''"><fa-icon  [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
        <div class="contenedor-Fecha">
            <label>Fecha:</label>
            <div class="contenedor-input input-group">
                <input type="text"  class="form-control" bsDaterangepicker [(ngModel)]="fecha" placement="right" [bsConfig]="{ containerClass: 'theme-dark-blue' }">
                <button class="btn btn-outline-danger  input-group-append" (click)="fecha = []"><fa-icon  [icon]="faTrash"></fa-icon></button>
            </div>
        </div>
        <div class="contenedor-Tipos">
            <label>Tipos:</label>
            <div class="contenedor-input input-group">
                <select class="form-select" [(ngModel)]='tipo'>
                    <option value="Todos" >Todos</option>
                    <option value="Ruta">Ruta</option>
                    <option value="Mesa">Mesa</option>
                </select>
                <button class="btn btn-outline-danger  input-group-append" (click)="tipo = 'Todos'"><fa-icon  [icon]="faTrash"></fa-icon></button>
            </div>

        </div>
        <div class="contenedor-estados">
            <label>Estados:</label>
            <div class="contenedor-input-estados">
                <div class="contenedor-checkbox">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="pendiente" id="pendiente">
                        <label class="form-check-label" for="pendiente">
                          Pendiente
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="recogiendo" id="recogiendo">
                        <label class="form-check-label" for="recogiendo">
                          Recogiendo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="recogida" id="recogida">
                        <label class="form-check-label" for="recogida">
                          Recogida
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="desconsolidando" id="desconsolidando">
                        <label class="form-check-label" for="desconsolidando">
                          Desconsolidando
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="desconsolidada" id="desconsolidada"> 
                        <label class="form-check-label" for="desconsolidada">
                            Desconsolidada
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="entregada" id="entrega">
                        <label class="form-check-label" for="entrega">
                          Entregada
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="incidencia" id="incidencia">
                        <label class="form-check-label" for="incidencia">
                          Incidencia
                        </label>
                    </div>
                </div>
                <div>
                    <button class="btn btn-outline-danger" (click)="incidencia = false;entregada = false; desconsolidada = false; desconsolidando = false; recogida =false; recogiendo = false; pendiente =false;"><fa-icon  [icon]="faTrash"></fa-icon></button>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-botonera">
        <button class="btn btn-outline-danger" class="btn btn-primary" (click)="actionBuscar()"> 
            <fa-icon  [icon]="faSearch">
            </fa-icon>
            Buscar
        </button>
    </div>
    
    
</div>