.contenedor-principal{
    height: 100%;
    overflow-y: hidden;
    display: grid;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 5px;
    .contenedor-tabla{
        height: 100%;
        overflow-y: auto;
    
        table{
            *{
                padding: 0px;
                border: none;
            }
            thead{
                border-bottom: 2px solid green;
            }
            tr{
                display: grid;
                grid-template-columns: 50px 1fr 200px 20px 150px 100px 100px 100px 1fr;
                border: none;
                .logo{
                    img{
                        width: 50px;
                    }
                }
                td{
                    border: none;
                }
            }
        }
    }
}
.noMostrar{
    display: none;
}


