.contenedor-principal{
    height: 100%;
    overflow-y: hidden;
    display: grid;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 5px;
    .contenedor-tabla{
        height: 100%;
        overflow-y: hidden;
        padding: 5px;
    
        table{
            height: 100%;
            overflow-y: hidden;
            display: grid;
            grid-template-rows: 30px 1fr 50px;
            *{
                margin: 0px;
                padding: 0px;
                border: none;
            }
            thead{
                border-bottom: 2px solid green;
                tr{
                    background-color: yellow;
                }
            }
            tbody{
                height: 100%;
                overflow-y: auto;
                tr{
                    background-color: red;
                }
            }
            tfoot{
                border-top: 1px solid rgb(0, 174, 255) ;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                tr{
                    background-color: blue;
                }

                .paginacion{
                    height: 100%;
                    background-color: aqua;
                }
            
                div{
                    font-weight: bold;
                }
            }
            .datos:hover{
                background-color: yellow;
            }
            tr{
                display: grid;
                grid-template-columns: 50px 1fr 30px 20px 150px 140px 20px 50px 1fr;
                border: none;
                th{
                    padding: 1px;
                }
                td{
                    padding: 1px;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        border-radius: 5px;
                        font-size: 15px;
                        padding: 0 2px;
                        display: flex;
                        justify-content: center;
                        // background-color: red;
                        color: white;
                    }
                }
                .logo{
                    img{
                        width: 50px;
                    }
                }
                .estado{
                    display: flex;
                    justify-content: center;
                }
                .ruta{
                    p{
                        width: 20px;
                    }
                    display: flex;
                    justify-content: center;

                }
                .fecha{
                    display: flex;
                    justify-content: flex-start;
                    .hora{
                        font-weight: bold;
                        padding-right: 5px;
                    }
                    .dia{
                        padding-right: 5px;
                    }
                    .mes{
                        font-size: 12px;
                        padding-right: 5px;
                    }
                }
                .codigo-cliente{
                    font-size: 8px;
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    padding-right: 2px;
                }
                .cantidad{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                }
            }

        }
    }
}
.noMostrar{
    display: none;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: green;
}
.gris{
    background-color: gray;
}

.negro{
    background-color: black;
}


