.contenedor-principal{
    overflow-y: hidden;
    height: 100vh;
    background-image: url(https://i.stack.imgur.com/vhoa0.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-rows: 30px 1fr;
    .contenedor-cabecera{
        background-color: rgb(240, 248, 255);
    }
    .contenedor-body{
        height: 100%;
        overflow-y: hidden;
        padding: 5px;
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 10px;
        .contenedor-filtro{
            height: 100%;
            overflow: hidden;
        }
        .contenedor-tabla-datos{
            height: 100%;
            overflow-y: hidden;
        }
    }
}